body {
color: darkgreen;
text-align: center;
}
img {
width:100%;
height:auto;
max-width:640px
}
marquee {
font:12px arial;
width:300px;
height:330px;
border:none;
border:0px solid black;
padding:5;
}
