<div class="row">
  <div class="col-md-4">
    <p>Ko-lect connects surplus food with people who
have the means to get it to those in need. Please only
take if you are in need of food or if you will
deliver to those in need.</p>
  </div>
  <div class="col-md-4">
    <p>
      <button class="btn btn-success" onclick="switchView('giving')">Donate food</button>
  </div>
  <div class="col-md-4">
    <p>
      <button class="btn btn-success" onclick="switchView('finding')">Receive food</button>
    </p>
  </div>
</div>
